* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.flex {
  display: flex;
}

.movie-search-wrapper {
  margin-top: 10px;
  justify-content: center;
}


.schedaFilm {
  list-style: none;
}

li.movie {
  padding: 15px;
}

li.movie h2 {
  font-size: 17px;
  font-weight: bold;
  color: blueviolet;
}
ul.schedaFilm li span {
  color: blueviolet;
}

.star-template {
  display: none;
}
