* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.flex {
  display: flex;
}

.movie-search-wrapper {
  margin-top: 10px;
  justify-content: center;
}

#movie-list {
  list-style: none;
}

li.movie {
  padding: 15px;
}

li.movie span {
  font-weight: bold;
  color: blueviolet;
}
